.popup.map_popup {
  padding: 35px 40px;
  background-color: transparent;
  backdrop-filter: unset;
  animation: slideOutRight .5s linear;

  &.active {
    animation-name: slideInRight;
  }

  .map_popup-dialog {
    justify-content: flex-end;
    margin: 0 0 0 auto;
  }

  .map_popup-body {
    max-width: 568px;
    display: flex;
    border-radius: 20px;

    .item {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 0 16px 0 32px;
      margin: 28px 16px 40px 0;

      max-height: calc(100dvh - 138px);
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: #CACFD8;
        border-radius: 4px;
      }

      .col {
        padding: 0;
        margin: 0;
        height: auto;
      }

      .subtitle {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #00000099;
        margin-bottom: 28px;
      }

      .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 49.18px;
        margin-bottom: 28px;
        color: var(--accent-dark);
      }

      .desc {
        font-size: 20px;
        line-height: 28px;
        color: var(--dark);
        //max-height: 250px;
        //overflow-y: auto;
        padding-right: 0;
      }

      .col-img img {
        border-radius: 20px;
      }
    }
  }
}

.map_popup .close_popup {
  top: 38px;
  right: 45px;
  padding: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.35);

  & svg path {
    stroke: #fff;
    transition: all 0.3s ease;
  }

  &:hover {
    path {
      stroke: var(--accent);
    }
  }

  &.black {
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    padding: 5px;

    & svg path {
      stroke: #0D0D0D;
    }
  }
}

@media screen and (max-width: 992px) {
  .close_popup {
    top: 26px;
    right: 26px;
    padding: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.35);

    & svg path {
      stroke: #fff;
    }
  }

  .popup.map_popup {

    padding: 20px;

    .map_popup-dialog {
      justify-content: center;
      margin: 0 auto;
    }

    .map_popup-body {
      max-width: 700px;
    }
  }
}

@media screen and (max-width: 767px) {
  .close_popup {
    width: 24px;
    height: 24px;
    padding: 6px;
  }

  .popup.map_popup {

    .map_popup-body {

      .item {
        padding: 16px;
        padding: 0 8px 0 16px;
        margin: 16px 8px 16px 0;

        max-height: calc(100dvh - 105px);

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 2px;
        }

        .subtitle {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 20px;
        }

        .title {
          font-size: 24px;
          line-height: 28px;
          margin-bottom: 20px;
        }

        .desc {
          font-size: 16px;
          line-height: 22px;
          max-height: none;
          //overflow-y: unset;
        }
      }
    }
  }
}