$tablet: 992px;
$mobile: 768px;

:root {
  --dark: #000000;
  --accent: #002E50;
  --text-color: var(--dark);
  --background-color: #EEF1F7;
  --accent-dark: #081226;
  //--title-font-family: "Manrope", sans-serif;
  --menu-icon: url('data:image/svg+xml,<svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.5" width="24" height="2" rx="1" fill="%23121212"/><rect x="6" y="7.5" width="18" height="2" rx="1" fill="%23121212"/><rect x="12" y="14.5" width="12" height="2" rx="1" fill="%23121212"/></svg>');
  --menu-close-icon: url('data:image/svg+xml,<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 14.5L8 7.5M15 0.5L8 7.5M8 7.5L1 0.5M8 7.5L15 14.5" stroke="white"/></svg>');
}
