@import './scss/normalize.scss';
@import './scss/fonts.scss';

$tablet: 992px;
$mobile: 768px;

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Manrope/Manrope-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(fonts/Manrope/Manrope-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(fonts/Manrope/Manrope-SemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/Manrope/Manrope-Bold.woff2) format('woff2');
}

:root {
    --dark: #000000;
    --accent: #002E50;
    --text-color: var(--dark);
    --background-color: #EEF1F7;
    --accent-dark: #081226;
    --title-font-family: "Manrope", sans-serif;
    --menu-icon: url('data:image/svg+xml,<svg width="24" height="17" viewBox="0 0 24 17" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.5" width="24" height="2" rx="1" fill="%23121212"/><rect x="6" y="7.5" width="18" height="2" rx="1" fill="%23121212"/><rect x="12" y="14.5" width="12" height="2" rx="1" fill="%23121212"/></svg>');
    --menu-close-icon: url('data:image/svg+xml,<svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 14.5L8 7.5M15 0.5L8 7.5M8 7.5L1 0.5M8 7.5L15 14.5" stroke="white"/></svg>');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 27.32px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #EEF1F7;
}

main {
    flex-grow: 1;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    line-height: 1.5;
    font-family: var(--title-font-family);
    color: var(--text-color);
}

h1 {
    font-size: 30px;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    line-height: 27px;
}

h3 {
    font-size: 22px;
    line-height: 24px;
}

h4 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 50px;
        line-height: 54px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
        line-height: 27px;
    }

    h4 {
        font-size: 22px;
        line-height: 24px;
    }
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

p+h1,
p+h2,
p+h3,
p+h4,
p+h5 {
    margin-top: 20px;
}

ol,
ul {
    padding-left: 2rem;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img,
svg {
    vertical-align: middle;
    max-width: 100%;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

label {
    display: inline-block;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

textarea {
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

iframe {
    border: 0;
}

textarea,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1240px;
}

.btn {
    background-color: var(--accent);
    display: inline-block;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    border-radius: 100px;
    border: none;
    outline: none;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: all .2s ease;
    white-space: nowrap;
}

.btn:hover {
    background-color: #fff;
    color: var(--accent);
    border: 1px solid var(--accent);
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}

.title-light {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 31.2px;
}

.bg {
    background: var(--accent-dark);
}

#map, 
#stories,
#support-us,
#about-project {
    scroll-margin-top: 15px;
}

@media screen and (max-width: 992px) {

    .title,
    .title-light  {
        font-size: 32px;
        line-height: 38px;
    }

    .subtitle {
        font-size: 22px;
        line-height: 28px;
    }
}

@media screen and (max-width: 767px) {
    .desktop-only {
        display: none !important;
    }

    .title,
    .title-light  {
        font-size: 24px;
        line-height: 31px;
    }

    .subtitle {
        font-size: 20px;
        line-height: 26px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-only {
        display: none !important;
    }
}

.error-center {
    display: flex;
    align-items: center;
}

/* ---- header ---- */
.main-header {
    position: relative;
    z-index: 10;
    margin-bottom: 50px;

    >.container {
        max-width: 1360px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        column-gap: 30px;
    }

    .site-logo {
        padding: 24px 0;
        margin-right: auto;
    }

    .main-right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .support-us {
        position: relative;
        padding: 15px 40px;
        border-radius: 40px;
        background: transparent;
        border: 1px solid #ffffff;
    }
}


/* ---- menu ---- */
.main-menu-wrapper>ul a {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color);
    white-space: nowrap;
}

.main-menu {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

@media (min-width: 992px) {
    .main-menu-wrapper>ul {
        gap: 40px;
    }
}

@media (max-width: 991px) {
    .main-menu-wrapper>ul {
        gap: 5px;
    }
}

@media (min-width: 768px) {

    .mobile-menu-toggle {
        display: none;
    }

    .main-menu {
        padding: 24px 5px;
        margin-right: auto;
    }

    .main-menu-wrapper>ul {
        display: flex;
    }

    .main-menu-wrapper>ul>li {
        margin: 0 15px;
    }
}

@media (max-width: 767px) {
    .main-header {
        margin-bottom: 30px;
        position: relative;
    }

    .main-header .site-logo {
        // flex-basis: calc(100% - 200px);
        position: relative;
        z-index: 10;
    }

    .menu-open .main-header {
        --text-color: #fff;
    }

    .main-menu {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--accent-dark);
        padding: 0px 20px 0;
        border-top: 106px solid var(--accent-dark);
        transition: transform .3s;
        -webkit-transition: -webkit-transform .3s;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        height: 100dvh;
        overflow-y: auto;
        overflow-x: auto;
    }

    .menu-open .main-menu {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }

    .main-menu-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        gap: 50px;
    }

    body.menu-open {
        overflow: hidden;
    }

    .mobile-menu-toggle {
        margin-left: -20px;
        mask: var(--menu-icon) no-repeat center right;
        width: 40px;
        height: 40px;
        background-color: var(--text-color);
    }

    .menu-open .mobile-menu-toggle {
        mask-image: var(--menu-close-icon);
        mask-size: 24px;
    }

    .main-menu-wrapper>ul {
        text-align: right;
    }

    .main-menu-wrapper>ul>li {
        padding-bottom: 20px;
    }
}

.lang-switcher {
    cursor: pointer;
    position: relative;
}

.lang-switcher .lang-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 0 10px 10px 10px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    list-style: none;
}

.lang-switcher .lang-dropdown.show {
    display: flex;
}

.lang-switcher .lang-dropdown li a {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}

.lang-switcher .current {
    width: 54px;
    height: 54px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    gap: 5px;
    border-radius: 50%;
    padding: 15px;
    border: 1px solid #ffffff;
    transition: all .2s ease;
}

.lang-switcher .current:hover,
.support-btn .btn:hover {
    background-color: #fff;
    color: var(--accent);
    text-decoration: none;
}

.main-header,
.bg {
    --text-color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
    width: 36px !important;
    height: 36px !important;
    color: var(--accent);
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px !important;
    margin-left: -4px;
}
/* -- homepage --- */
.top-banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -148px;
    padding-top: 148px;
    overflow: hidden;
    background-size: cover;
    background-position: top center;

    &::before {
        content: '';
        position: absolute;
        z-index: 20;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 36px;
        height: 36px;
        background: url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="36" height="36" rx="18" fill="white" fill-opacity="0.07"/><path d="M27 14.5L17.9583 23.5L9 14.5" stroke="white" stroke-width="2.25"/></svg>') var(--accent-dark);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &::after {
        content: '';
        display: block;
        background:  linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(8, 18, 38, 0) 29.88%, rgba(8, 18, 38, 0.334) 43.36%, #081226 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .banner-title {
        font-family: var(--title-font-family);
        font-size: 48px;
        font-weight: 600;
        line-height: 58px;
        margin-bottom: 24px;
    }

    .desc {
        margin: 0 auto 35px;
        max-width: 550px;
    }
}

.top-banner-content {
    margin: 80px auto 210px auto;
    color: #fff;
    text-align: center;
    z-index: 1;
    position: relative;
}

.homepage .top-banner-content {
    max-width: 700px;
    margin: 140px auto 270px auto;
} 

.mission {
    text-align: center;
    max-width: 1120px;
    margin: 0 auto;
    padding: 40px 0 96px;
    color: var(--text-color);

    .uppercase {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 21.86px;
    }
}

.effect {
    padding: 60px 0 80px;
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    gap: 29px;

    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 46.8px;
    }

    .item {
        padding: 32px 28px 53px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.07);

        .subtitle {
            margin-bottom: 24px;
        }
    
        .desc {
            font-size: 18px;
            line-height: 25.2px;
        }
    }
}

.title-block {
    max-width: 750px;
    margin: 0 auto;
    padding: 80px 10px;
    text-align: center;
    color: var(--text-color);

    .title-light {
        margin-bottom: 40px;
    }

    .download-btn {
        padding: 15px 40px;
        border-radius: 40px;
        background: transparent;
        border: 1px solid #ffffff;

        &:hover {
            background-color: #fff;
            color: var(--accent);
            text-decoration: none;
        }
    }
}

.title-block2 {
    max-width: 1100px;
}

.map {
    padding: 80px 0;
    color: var(--text-color);

    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 29px;
        margin-bottom: 20px;
        .desc {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 18px;
            line-height: 25.2px;
        }
        &.row2 {
            padding: 60px 0 80px;
            gap: 60px;
            
            .desc {
                font-size: 20px;
            line-height: 28px;
            }
        }
    }

    .item {
        padding: 50px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.07);

        .title {
            font-weight: 600;
            margin-bottom: 10px;
        }

        .subtitle {
            margin-bottom: 24px;
        }
    
        .desc {
            font-size: 20px;
            line-height: 28px;

        }
    }   

    &-img {
        padding: 40px 0;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

.slider-block {
    padding: 60px 0 100px;
    color: var(--text-color);
    text-align: center;

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
  
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 640px;
        height: 420px;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
}

.what-we-do {
    max-width: 1280px;
    padding-top: 60px;
    padding-bottom: 80px;

    .title {
        margin-bottom: 60px;
        text-align: center;
    }

    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
        gap: 48px;

        .item {
            img {
                margin-bottom: 24px;
            }

            .subtitle {
                margin-bottom: 12px;
                font-weight: 600;
                font-size: 20px;
                line-height: 26px;
            }

            .desc {
                font-size: 16px;
                line-height: 20.8px;
                color:  #00000099;
            }
        }
    }
}

.results {
    padding: 60px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 60px;
}

.stories {
    padding: 60px 0 80px;

    .title {
        max-width: 700px;
        margin: 0 auto 80px;
        text-align: center;
        font-weight: 600;
        color: var(--accent-dark);
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 60px;

        .item {
            display: grid;
            grid-template-columns: 1fr 40%;
            gap: 8%;
            padding: 40px 48px;
            background: #ffffff;
            border-radius: 20px;

            &:nth-child(even) {
                grid-template-columns: 40% 1fr;
            }

            .subtitle {
                font-weight: 600;
                font-size: 36px;
                line-height: 43.2px;
                margin-bottom: 16px;
            }

            .desc {
                font-size: 16px;
                line-height: 20.8px;
                color:  #00000099;
                margin-bottom: 37px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 45px;
                transition: max-height .3s ease;
            }

            .col.desc-show {
                .desc {
                    display: block;
                    max-height: 300px;
                    overflow-y: auto;
                }
            }

            .col-img img {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 16px;
            }
        }
    }
}

.video {
    width: 100%;
    video {
        width: 100%;
        object-fit: cover;
    }
}

.quote {
    display: grid;
    grid-template-columns: 1fr 32%;
    gap: 8%;
    padding: 60px 0;

    .left {
        display: flex;
        gap: 40px;

        .desc {
            // font-weight: 600;
            font-size: 36px;
            line-height: 46.8px;
        }

        .author {
            font-weight: 600;
            font-size: 24px;
            line-height: 31.2px;
            margin: 40px 0 10px;
        }

        .position {
            font-size: 20px;
            line-height: 28px;
            color:  #00000099;
        }
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            object-fit: contain;
        }
    }
}

.help {
    padding: 60px 0 80px;
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(279px, 1fr));
    gap: 24px;

    .title {
        padding-right: 16px;
    }

    .item {
        padding: 32px 28px 48px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.75);

        .subtitle {
            margin-bottom: 24px;
        }
    
        .desc {
            font-size: 18px;
            line-height: 25.2px;
        }
    }
}

.support-us {
    padding: 100px 0;

    &-row {
        display: grid;
        grid-template-columns: 47% 47%;
        gap: 6%;

        .col {
            &.col1 {
                padding: 40px 40px 48px;
                border-radius: 28px;
                background: #ffffff;
            }

            &.col2 {

                .subtitle {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 42px;
                    margin-bottom: 20px;
                }

                .nav-tabs {
                    border-radius: 40px;
                    border: 1px solid #002E50;
                }
                .content-col {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding-right: 10px;
                    color: #00000099;

                    b {
                        font-weight: 700;
                    }
                }
            }
        }

    }
}

.tabs {
    margin-bottom: 30px;

    .nav-tabs-wrapper {
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .nav-tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        padding: 0;
        margin: 0;

        .tablinks {
            display: block;
            text-align: center;
            padding: 16px 20px;
            font-family: var(--title-font-family);
            font-size: 20px;
            font-weight: 400;
            line-height: 27px;
            transition: color .3s;
            white-space: nowrap;
            position: relative;
            color: #002E50;
            background: transparent;
            border: 1px solid transparent;
            transition: all .3s ease;

            &.active {
                background: var(--accent);
                color: #ffffff;
            }
            &:hover {
                border: 1px solid var(--accent);
            }
        }
    }

    .tab-content {
        display: none;
        padding: 20px 0 0;
    
        &.active {
            display: block;
        }
    }
}


@media (min-width: 769px) {
    .nav-tabs .tablinks:hover {
        color: var(--accent);
        text-decoration: none;
    }
}

// popup start

.popup {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 150;
    opacity: 0; 
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    transition: opacity 200ms ease-in; 
    pointer-events: none; 
    margin: 0;
    padding: 20px 15px;
    &.active {
        opacity: 1; 
        pointer-events: auto; 
        overflow-y: auto; 
    }
    &-dialog {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: fit-content;
        min-width: 640px;
        min-height: 100%;
        margin: 0 auto;
        @media (max-width: 767px) {
            max-width: calc(100% - 20px);
            min-width: auto;
        }
    }
    &-content {
        position: relative;
        border-radius: 20px;
        outline: 0; 
    }
   
    &-body {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        flex: 1 1 auto;   
        text-align: center;   
        height: 100%;
        background: #fff;
        border-radius: 20px;
        
        .item {
            display: grid;
            grid-template-columns: 65% 1fr;
            background: #ffffff;
            text-align: left;
            border-radius: 20px;

            .col {
                padding: 40px 15px 40px 40px;
            }

            .subtitle {
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;
                margin-bottom: 24px;
            }

            .desc {
                font-size: 18px;
                line-height: 25px;
                color:  #00000099;
                max-height: 500px;
                overflow-y: auto;
                padding-right: 25px;

                p {
                    margin-bottom: 10px;
                }
                &::-webkit-scrollbar {
                    width: 4px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #C8C8C8;
                    border-radius: 4px;
                }
            }

            .col-img,
            .slider-story {
                height: 100%;
            }

            .col-img img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 0 0 20px;
            }
        }
    }  
}

.close_popup {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;
    & svg path {
        transition: all 0.3s ease;
    }
    &:hover {
        path {
            stroke:var(--accent);
        }
    }
}

.popup.map_popup  {

    padding: 35px 40px;
    background-color: transparent;
    backdrop-filter: unset;

    .map_popup-dialog {
        justify-content: flex-end;
        margin: 0 0 0 auto;
        max-height: calc(100vh - 70px);
    }
   
    .map_popup-body {
        max-width: 568px;
        display: flex;   
        border-radius: 20px; 

        .item {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 28px 32px 40px;
           
            .col {
                padding: 0;
            }

            .subtitle {
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: #00000099;
                margin-bottom: 28px;
            }

            .title {
                font-weight: 600;
                font-size: 36px;
                line-height: 49.18px;
                margin-bottom: 28px;
            }

            .desc {
                font-size: 20px;
                line-height: 28px;
                color:  var(--dark);
                max-height: 250px;
                overflow-y: auto;
                padding-right: 0;
            }

            .col-img img {
                border-radius: 20px;
            }
        }
    }  
}

.map_popup .close_popup {

    top: 38px;
    right: 38px;
    padding: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.35);
    & svg path {
        stroke:#fff;
        transition: all 0.3s ease;
    }
    &:hover {
        path {
            stroke:var(--accent);
        }
    }
}

/* ------main-footer------*/

.main-footer {
    --text-color: #fff;
    background-color: var(--accent-dark);
    color: var(--text-color);
    padding: 46px 0;
    font-size: 18px;
    font-weight: 400;
    margin-top: 80px;

    .footer-cols {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        .col {
            .subtitle {
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 16px;
            }

            ul {
                padding: 0;
                margin: 0;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
            }
        }

        .col-1 {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .site-logo {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }
        }

        .col-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 38px;
            row-gap: 60px;

            .subscribe {
                grid-area: 2/1/3/3;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;
                border: 1px solid #fff;
                border-radius: 40px;
                >p {
                    padding: 15px 5px 15px 40px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                }

                .btn {
                    padding: 14px 40px;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 26px;
                    color: var(--accent);
                    background-color: #ffffff;
                    border: 1px solid transparent;
                    transition: all .3s ease;

                    &:hover {
                        background-color: transparent;
                        border: 1px solid #ffffff;
                        color: #fff;
                    }
                }
            }
        }
    }   
}

@media screen and (max-width: 992px) {

    .lang-switcher .current {
        width: 45px;
        height: 45px;
        padding: 10px;
    }

    .main-header {
        .support-us {
            padding: 10px 20px;
        }
    }

    .map {
        padding: 40px 0;
        color: var(--text-color);
    
        &-row {
            margin-bottom: 0;
            .desc {
                font-size: 16px;
                line-height: 22px;
            }
            &.row2 {
                padding: 40px 0 40px;
                gap: 29px;
                
                .desc {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    
        .item {
            padding: 24px 28px 36px;
        
            .desc {
                font-size: 16px;
                line-height: 22px;
            }
        }   
    
        &-img {
            padding: 30px 0 10px;
        }
    }

    .results {
        padding: 40px 0;
        grid-template-columns: 1fr;
        gap: 20px;
        .title {
            text-align: center;
        }
    }
        
    .stories {
        padding: 40px 0;
    
        .title {
            margin: 0 auto 29px;
        }
    
        &-content {
            gap: 20px;
    
            .item {
                gap: 20px;
                padding: 16px;
    
                .subtitle {
                    font-size: 20px;
                    line-height: 24px;
                }
    
                .desc {
                    margin-bottom: 16px;
                    -webkit-line-clamp: 4;
                    max-height: 90px;
                }
            }
        }
    }
    
    .quote {
        gap: 20;
        padding: 40px 0;
    
        .left {
            flex-direction: column;
            gap: 20px;

            img {
                width: 48px;
                height: 48px;
            }
    
            .desc {
                font-size: 28px;
                line-height: 38px;
            }
    
            .author {
                font-size: 20px;
                line-height: 26px;
            }
    
            .position {
                font-size: 20px;
                line-height: 26px;
            }
        }
    }
    
    .support-us {
        padding: 40px 0;
    
        &-row {
            grid-template-columns: 1fr;   
        }
    }

    .popup {
              
        &-body {
            padding: 16px;
            
            .item {
                display: grid;
                grid-template-columns: 1fr;
                gap: 20px;
    
                .col {
                    padding: 0;
                }
    
                .subtitle {
                    margin-bottom: 20px;
                }
    
                .desc {
                    padding-right: 0;
                }
    
                .col-img img {
                    border-radius: 20px;
                }
            }
        }  
    }
    
    .close_popup {
        top: 26px;
        right: 26px;
        padding: 8px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.35);
        & svg path {
            stroke:#fff;
        }
    }
}

@media screen and (max-width: 767px) {

    body {
        font-size: 16px;
        line-height: 22px;
    }

    .btn {
        padding: 8px 20px;
    }
    
    .title {
        font-size: 24px;
        line-height: 32px;
    }
    
    .title-light {
        font-size: 24px;
        line-height: 32px;
    }
    
    .subtitle {
        font-size: 20px;
        line-height: 26px;
    }
    
    /* ---- header ---- */
    .main-header {
        margin-bottom: 20px;
    
        >.container {
            column-gap: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
        .site-logo {
            padding: 0;
        }
    
        .main-right {
            gap: 15px;
        }
    
        .support-us {
            padding: 8px 20px;
        }
    }
    
    /* ---- menu ---- */
    .main-menu-wrapper>ul a {
        font-size: 22px;
    }
        
    .lang-switcher .current {
        width: 38px;
        height: 38px;
        padding: 7px;
    }
       
    /* -- homepage --- */
    .top-banner {
        margin-top: -100px;
        padding-top: 100px;

        &::after {
            content: "";
            display: block;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(8, 18, 38, 0) 29.88%, rgba(8, 18, 38, 0.334) 43.36%, #081226 80%);
            position: absolute;
        }
        
        .banner-title {
            font-size: 28px;
            line-height: 36px;
        }
    }
    
    .mission {
        padding: 40px 40px;
    }
    
    .effect {
        padding: 40px 0px 40px;

        .title {
            font-size: 24px;
            line-height: 31px;
        }
    
        .item {
            padding: 24px 28px 37px;
    
            .subtitle {
                margin-bottom: 20px;
            }
        
            .desc {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    
    .title-block {
        padding: 80px 0px 40px;
    }
    
    .map {
        padding: 40px 0;
        color: var(--text-color);
    
        &-row {
            margin-bottom: 0;
            grid-template-columns: 1fr;
            .desc {
                font-size: 16px;
                line-height: 22px;
            }
            &.row2 {
                padding: 40px 0 40px;
                
                .desc {
                    order: 1;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
    
        .item {
            padding: 24px 28px 36px;
        
            .desc {
                font-size: 16px;
                line-height: 22px;
            }
        }   
    
        &-img {
            padding: 30px 0 10px;
        }
    }
    
    .slider-block {
        padding: 60px 0;
        color: var(--text-color);
        text-align: center;
    
        .swiper {
            padding-bottom: 0px;
          }
      
          .swiper-slide {
            width: 320px;
            height: 210px;
          }
    }
    
    .what-we-do {
        padding-top: 40px;
        padding-bottom: 40px;
    
        .title {
            margin-bottom: 29px;
        }
    
        .row {    
            .item {
    
                .subtitle {
                    margin-bottom: 16px;
                }
            }
        }
    }
    
    .stories {
        
        &-content {
    
            .item {
                grid-template-columns: 1fr;
        
                &:nth-child(even) {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }
    }
    
    .quote {
        display: flex;
        flex-direction: column-reverse;
    
        .left {
    
            .desc {
                font-size: 20px;
                line-height: 24px;
            }
    
            .author {
                font-size: 16px;
                line-height: 22px;
            }
    
            .position {
                font-size: 16px;
                line-height: 22px;
            }
        }

        .img {
            img {
                max-height: 335px;
            }
        }
    }

    .help {
        padding: 40px 0;
        gap: 20px;
    
        .title {
            padding-right: 0;
            text-align: center;
        }
    
        .item {
          
            .subtitle {
                margin-bottom: 20px;
            }
        
            .desc {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
    
    .support-us {
    
        &-row {
            gap: 20;
    
            .col {
                &.col1 {
                    padding: 16px;
                }
    
                &.col2 {
    
                    .subtitle {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
    
        }
    }
    
    .tabs {
        margin-bottom: 20px;
        
        .nav-tabs {
             
            .tablinks {
                font-size: 16px;
                line-height: 22px;
            }
        }
    
    }
    
    /* ------main-footer------*/
    
    .main-footer {
        padding: 40px 0;
        font-size: 16px;
        margin-top: 30px;
    
        .footer-cols {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 20px;
    
            .col {
                .subtitle {
                    font-size: 16px;
                    line-height: 22px;
                }
    
                ul {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
    
            .col-1 {
                    
                .site-logo {
                    flex-direction: row;
                    gap: 20px;
                }
            }
    
            .col-2 {
                column-gap: 20px;
    
                .subscribe {
                    gap: 10px;
                    >p {
                        padding: 15px 5px 15px 20px;
                        font-size: 16px;
                    }
    
                    .btn {
                        padding: 14px 20px;
                    }
                }
            }
        }
    
       
    }

    .popup {
              
        &-body {            
            .item {    
                .subtitle {
                    margin-bottom: 20px;
                }
    
                .desc {
                    padding-right: 0;
                }
            }
        }  
    }
    
    .close_popup {
        width: 24px;
        height: 24px;
        padding: 6px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 24px !important;
        height: 24px !important;
        display: none;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        font-size: 12px !important;
        margin-left: -4px;
    }

}

@media screen and (max-width: 550px) {
    .main-footer {
        .footer-cols {
            
            .col-2 {
                grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
                row-gap: 30px;
    
                .subscribe {
                    grid-area: initial;
                }
            }
        } 
    }
      
}