.main-footer {
  --text-color: #fff;
  background-color: var(--accent-dark);
  color: var(--text-color);
  padding: 46px 0;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;

  .footer-cols {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    .col {
      .subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 16px;
      }

      ul {
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
      }
    }

    .col-1 {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .site-logo {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .col-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 38px;
      row-gap: 60px;

      .subscribe {
        grid-area: 2/1/3/3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        border: 1px solid #fff;
        border-radius: 40px;

        > p {
          padding: 15px 5px 15px 40px;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
        }

        .btn {
          padding: 14px 40px;
          font-weight: 500;
          font-size: 16px;
          line-height: 26px;
          color: var(--accent);
          background-color: #ffffff;
          border: 1px solid transparent;
          transition: all .3s ease;

          &:hover {
            background-color: transparent;
            border: 1px solid #ffffff;
            color: #fff;
          }
        }
      }
    }
  }

  .social {
    display: flex;
    gap: 22px;
    align-items: center;
    margin-top: 35px;

    a {
      display: block;
      transition: transform .2s;

      &:hover {
        transform: scale(1.15);
      }
    }

    svg path {
      fill: currentColor;
    }
  }
}

@media screen and (max-width: 550px) {
  .main-footer {
    .footer-cols {

      .col-2 {
        grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
        row-gap: 30px;

        .subscribe {
          grid-area: initial;
        }
      }
    }
  }

}

@media screen and (max-width: 767px) {
  /* ------main-footer------*/

  .main-footer {
    padding: 40px 0;
    font-size: 16px;
    margin-top: 30px;

    .footer-cols {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 20px;

      .col {
        .subtitle {
          font-size: 16px;
          line-height: 22px;
        }

        ul {
          font-size: 16px;
          line-height: 22px;
        }
      }

      .col-1 {

        .site-logo {
          flex-direction: row;
          gap: 20px;
        }
      }

      .col-2 {
        column-gap: 20px;

        .subscribe {
          gap: 10px;

          > p {
            padding: 15px 5px 15px 20px;
            font-size: 16px;
          }

          .btn {
            padding: 14px 20px;
          }
        }
      }
    }
  }
}