@import "settings/file-header";

@import "settings/fonts";
@import "settings/variables";

@import "tools/functions";
@import "tools/mixins";

@import "generic/reset";
@import "generic/breakpoints";
@import "generic/vertical-margins";

@import "tools/extends";

@import "landing-styles";

@import "blocks/blocks";

@import "components/language-switcher";
@import "components/load-more";
@import "components/post-item";
@import "components/posts-grid";

@import "posts/latest-posts";


.type-post .entry-content p {
	text-align: justify;
}

.blog .page-title {
	text-align: center;
	margin: 40px auto 80px;
	font-weight: 600;
	font-size: 48px;
}

.single-post {
	main > .container {
		max-width: 1064px;
	}
}
