.posts-grid {
	display: grid;
	//grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-columns: 1fr;
	grid-gap: 20px;

	@include media(mobile) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	@include media(laptop) {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	@include media(desktop-l) {
		&:not(.less-than-4) {
			//grid-template-columns: repeat(4, minmax(0, 1fr));
		}
	}
}
