/* ---- header ---- */
.main-header {
	position: relative;
	z-index: 11;
	margin-bottom: 50px;

	body:not(.home) & {
		background-color: var(--accent-dark);
	}

	> .container {
		max-width: 1360px;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		column-gap: 30px;
	}

	.site-logo {
		padding: 24px 0;
		margin-right: auto;
		//flex-shrink: 0;
	}

	.main-right {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.support-us {
		position: relative;
		padding: 15px 40px;
		border-radius: 40px;
		background: transparent;
		border: 1px solid #ffffff;
		font-weight: 500;

		&:hover {
			background-color: #fff;
			color: var(--accent);
			text-decoration: none;
		}
	}
}


/* ---- menu ---- */
.main-menu-wrapper > ul a {
	font-weight: 500;
	font-size: 16px;
	color: var(--text-color);
	white-space: nowrap;
}

.main-menu {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

@media (min-width: 1200px) {
	.main-menu-wrapper > ul {
		gap: 40px;
	}
}

@media (max-width: 991px) {
	.main-menu-wrapper > ul {
		gap: 5px;
	}

	.main-header {
		.support-us {
			padding: 10px 20px;
		}
	}
}

@media (min-width: 768px) {

	.mobile-menu-toggle {
		display: none;
	}

	.main-menu {
		padding: 24px 5px;
		margin-right: auto;
	}

	.main-menu-wrapper > ul {
		display: flex;
	}

	.main-menu-wrapper > ul > li {
		margin: 0 5px;
	}
}

@media (max-width: 767px) {
	.main-header {
		margin-bottom: 30px;
		position: relative;
	}

	.main-header .site-logo {
		// flex-basis: calc(100% - 200px);
		position: relative;
		z-index: 11;
	}

	.menu-open .main-header {
		--text-color: #fff;
	}

	.main-menu {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: var(--accent-dark);
		padding: 0px 20px 0;
		border-top: 106px solid var(--accent-dark);
		transition: transform .3s;
		-webkit-transition: -webkit-transform .3s;
		transform: translateX(100%);
		-webkit-transform: translateX(100%);
		height: 100dvh;
		overflow-y: auto;
		overflow-x: auto;
	}

	.menu-open .main-menu {
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}

	.main-menu-wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		gap: 50px;
	}

	body.menu-open {
		overflow: hidden;
	}

	.mobile-menu-toggle {
		margin-left: -10px;
		mask: var(--menu-icon) no-repeat center right;
		width: 40px;
		height: 40px;
		background-color: var(--text-color);
	}

	.menu-open .mobile-menu-toggle {
		mask-image: var(--menu-close-icon);
		mask-size: 24px;
	}

	.main-menu-wrapper > ul {
		text-align: right;
	}

	.main-menu-wrapper > ul > li {
		padding-bottom: 20px;
	}


	/* ---- header ---- */
	.main-header {
		margin-bottom: 20px;

		> .container {
			column-gap: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.site-logo {
			padding: 0;
		}

		.main-right {
			gap: 15px;
		}

		.support-us {
			padding: 8px 20px;
		}
	}
}

.main-header,
.bg {
	--text-color: #fff;
}
